@media only screen and (max-width: 1528px) {
    #testimonialsRow {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 973px) {
    #section2-row {
        flex-direction: column;
    }
    #curator-feed-default-feed-layout {
        width: 50%;
        font-size: 80%;
    }
    #section2 p {
        width: 80%;
        max-width: 685px;
    }
  

}



@media only screen and (max-width: 965px) {
   
    #curator-feed-default-feed-layout {
        max-width: 350px;
        min-width: 300px;
        font-size: 80%;
        margin-top: 30px;
    }

    .servicesRow {
        justify-items: center;
    }
    .coloredRow {
        flex-direction: column;
        justify-content: space-around;
        height: 650px;
        align-items: center;
    }
    #audio p,
    #lighting p,
    #repair p,
    #programming p {
        width: 80%;
        max-width: 685px;
        
    }
    
    .services-figure {
        position: absolute;
    }
    #fig1 {
       left: calc(50% - 115px); 
    }
    #fig2 {
        left: calc(50% - 120px);
    }
    #fig3 {
        left: calc(50% - 150px)
    }
    #fig4 {
        left: calc(50% - 150px)
    }
    #welcome-section h1 {
        font-size: 200%;
    }
    #welcome-section div{
        width: 540px;
    }


}

/* where everything switches to normal scrolling  */
@media only screen and (max-width: 685px) { 
    html {
        scrollbar-width: auto; /*Firefox*/
        -ms-overflow-style: auto;  /*Internet Explorer 10+*/
    }
    html::-webkit-scrollbar { /*WebKit */
        width: auto;
        height: auto;
    } 
    body::-webkit-scrollbar { /*WebKit */
        width: auto;
        height: auto;
    } 

    body {
        overflow-x: hidden;
        
        /* to prevent excess scrolling on mobile */
    }
    #scrollbar {
        display: none;
    }

    section{
        padding-right: 50px;
        width: calc(100vw - 100px);
        margin-bottom: 50px;
    }
   
    
    #aboutAnchor {
        position: absolute;
        top: 60vh;
    }
    
    #philosophyAnchor {
        position: absolute;
        top: 0vh;
    }
    
    #audioAnchor {
        top: -230px;
    }
    #lightingAnchor, 
    #repairAnchor, 
    #programmingAnchor  {
        top: -120px;
    }
    
      

    #welcome-section h1 {
        font-size: 150%;
        animation: none;
    }
    #logo {
        animation: none;
    }
    #container {
        height: auto;
    }
    #sticky {
        height: auto;
        position: relative;
    }
    #sticky section {
        position: relative;
        height: auto;
        overflow: visible;
    }

    #section2 {
        margin-top: 80vh;
    }
    #section2-row {
        height: auto;
        max-height: none;
    }
    #section2 p {
        width: auto;
    }
    #curator-feed-default-feed-layout {
        max-width: 350px;
        width: 100%;
        /* min-width: 300px; */
        font-size: 80%;
        margin: 30px auto 0 auto;
    }

    #philosophy {
        background-color: rgba(0, 0, 80, 0.5);
    }

    #philosophy div {
        height: auto;
    }
    #services {
        margin-bottom: 0;
    }

    #audio,
    #repair, 
    #lighting,
    #programming {
        position: relative;
        height: auto;
        padding: 50px;
        width: calc(100vw - 100px);
        margin-bottom: 50px;
        opacity: 1;
    }
    #audio p,
    #lighting p,
    #repair p,
    #programming p {
        width: auto;
    }

    .coloredRow {
        height: auto;
        align-content: space-between;
        margin: 0 auto;
    }
    
    #audio .main-carousel,
    #repair .main-carousel, 
    #lighting .main-carousel,
    #programming .main-carousel {
        margin: 35px auto;
    }      

    #audio .coloredRow,
    #repair .coloredRow {
        flex-direction: column;
    }
    #lighting .coloredRow,
    #programming .coloredRow {
        flex-direction: column-reverse;
    }
    #about-wrapper {
        position: relative;
        height: auto;
        left: -50px;
        top: 0;
    }
    .servicesRow {
        display: none;
    }
    .small {
        display: block;
        opacity: 1;
    }
    .services-figure {
        display: inline-block;
        position: relative;
    }
    #fig1, #fig2, #fig3, #fig4 {
        left: 50%;
        transform: translateX(-50%);
    }
    #fig1BG,
    #fig2BG,
    #fig3BG,
    #fig4BG {
        opacity: 1;

    }

    #fig1BG {
        top: -18px;
    }

    #fig3BG {
        top: -14px;
        left: -10px;
    }
    #fig4BG{
        left: -14px;
    }

    #fig4 {
        position: relative;
        top: 10px;
    }

    #fig2 {
        position: relative;
        top: -8px;
    }

    #btnWrapper {
        width: 400px;
    }
    #btnWrapper a {
        margin: 20px auto 0 auto;
    }

    #testimonials, 
    #contact {
        margin-bottom: 0;
    }
    #contactForm, 
    .form-group {
        width: calc(100% - 20px);
    }

    blockquote, .blockquote cite {
        opacity: 1;
    }
   
}

@media only screen and (max-width: 580px) {
    #welcome-section h1 {
        white-space: normal;
        animation-name: none;
    }
    #welcome-section div {
        width: 250px;
        text-align: start;
    }
    #yourVision {
        white-space: nowrap;
        animation-name: h1Fade;
        animation-delay: 4s;
        animation-fill-mode: backwards;
        animation-duration: .5s;
        animation-timing-function: linear;
        overflow: hidden;
        display: inline-block;

    }
    #delivered {
        animation-name: h1Fade;
        animation-delay: 4.5s;
        animation-fill-mode: backwards;
        animation-duration: .5s;
        animation-timing-function: linear;
        overflow: hidden;
        display: inline-block;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 449px) {
    #menuBtn {
        transform: scale(0.75);
        left: 0px;
        top: 0px;
    }
    section,
    #testimonials, 
    #contact, 
    footer {
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100vw - 20px);
    }
    #testimonials h2 {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    #about-wrapper {
        left: -10px;
    }
    #audio,
    #repair,
    #lighting,
    #programming {
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100vw - 20px);
    }
    .blockquote {
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media only screen and (max-width: 401px) {
    
    #testimonials h2 {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #btnWrapper {
        width: auto;
    }
}

@media only screen and (max-width: 320px) {
    .blockquote {
        width: 100%;
        height: auto;
    }
    #testimonials h2 {
        width: 200px;
    }
  
    #philosophy h2 {
        font-size: 180%;
    }
}



@media only screen and (max-height: 601px) {
    #bottomDiv {
        position: relative;
        top: 75px;
    }
    
}
@media only screen and (max-height: 444px) {
    #bottomDiv {
        position: relative;
        top: 0;
    }
    
}