@media only screen and (max-width: 1528px) {
    #testimonialsRow {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 973px) {
    #section2-row {
        flex-direction: column;
    }
    #curator-feed-default-feed-layout {
        width: 50%;
        font-size: 80%;
    }
    #section2 p {
        width: 80%;
        max-width: 685px;
    }
  

}



@media only screen and (max-width: 965px) {
    .servicesRow {
        justify-content: center;
        /* height: 5px; */
        right: 30px;
    }
    #curator-feed-default-feed-layout {
        max-width: 350px;
        min-width: 300px;
        font-size: 80%;
        margin-top: 30px;
    }
    
    .services-figure {
        position: absolute;
        /* left: 0; */
    }
    #welcome-section h1 {
        font-size: 200%;
    }
    #welcome-section div{
        width: 540px;
    }


}

/* where everything switches to normal scrolling  */
@media only screen and (max-width: 685px) { 
    #welcome-section h1 {
        font-size: 150%;
    }
    #container {
        height: 800vh;
    }
    #sticky {
        height: 800vh;
        position: relative;
    }
    #sticky section {
        position: relative;
        height: auto;
        overflow: visible;
    }
    #section2 {
        margin-top: 60vh;
    }

    #philosophy {
        margin-top: 40vh;
    }
    #audio,
    #repair, 
    #lighting,
    #programming {
        position: relative;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .coloredRow {
        flex-direction: column;
    }
    #about-wrapper {
        height: 2000px;
    }
    .servicesRow {
        display: none;
    }
    .small {
        display: block;
        opacity: 1;
    }
    .services-figure {
        display: inline-block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    #fig1BG,
    #fig2BG,
    #fig3BG,
    #fig4BG {
        opacity: 1;
    }
    
    
   
}

@media only screen and (max-width: 580px) {
    #welcome-section h1 {
        white-space: normal;
        animation-name: none;
    }
    #welcome-section div {
        width: 250px;
        text-align: start;
    }
    #yourVision {
        white-space: nowrap;
        animation-name: h1Fade;
        animation-delay: 4s;
        animation-fill-mode: backwards;
        animation-duration: .5s;
        animation-timing-function: linear;
        overflow: hidden;
        display: inline-block;

    }
    #delivered {
        animation-name: h1Fade;
        animation-delay: 4.5s;
        animation-fill-mode: backwards;
        animation-duration: .5s;
        animation-timing-function: linear;
        overflow: hidden;
        display: inline-block;
        margin-left: 30px;
    }
}



@media only screen and (max-height: 444px) {
    #bottomDiv {
        position: relative;
        top: 0;
    }
    
}