* {
    margin: 0;
    padding: 0;
    
}
html {
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /*Firefox*/
    -ms-overflow-style: none;  /*Internet Explorer 10+*/
    color: rgb(199, 199, 199);
    background-color: black;
    font-size: 20px;
}
html::-webkit-scrollbar { /*WebKit */
    width: 0;
    height: 0;
} 
body::-webkit-scrollbar { /*WebKit */
    width: 0;
    height: 0;
} 



@font-face {
    font-family: 'OPTIAgency-Gothic';
    src:url('webfonts_OPTIAgency-Gothic/OPTIAgency-Gothic.ttf.woff') format('woff'),
        url('webfonts_OPTIAgency-Gothic/OPTIAgency-Gothic.ttf.svg#OPTIAgency-Gothic') format('svg'),
        url('webfonts_OPTIAgency-Gothic/OPTIAgency-Gothic.ttf.eot'),
        url('webfonts_OPTIAgency-Gothic/OPTIAgency-Gothic.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Titillium";
    src: url('Titillium_Web/TitilliumWeb-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Titillium', sans-serif;
    width: 100vw;  
    overscroll-behavior: none;
    height: auto;

}

section {
    overflow-x: hidden;
    padding: 50px;
    padding-right: 105px;
    width: calc(100vw - 155px);
}


.row {
    max-width: 1000px;
    margin: 0 auto;
}


.btn {
    font-family: 'OPTIAgency-Gothic';
    letter-spacing: 5px;
    background-color: black;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    text-align: center;
    box-shadow: 0px 0px 5px 3px #0300b1;
    font-size: 100%;
    color: rgb(199,199,199);
    cursor: pointer;
    /* outline: none; */
    transition: .2s;
}
.btn:hover {
    box-shadow: 0px 0px 10px 8px #0300b1;
    color: white;
    /* border: 2px solid rgb(199, 199, 199); */

}

/* anchors */

.anchorDiv {
    position: relative;
}

#top {
    position: absolute;
    top: 0;
}

#aboutAnchor {
    position: absolute;
    top: 61vh;
}

#philosophyAnchor {
    position: absolute;
    top: 161vh;
}

#audioAnchor {
    position: absolute;
    top: 321vh;
}
#lightingAnchor {
    position: absolute;
    top: 361vh;
}
#repairAnchor {
    position: absolute;
    top: 411vh;
}
#programmingAnchor {
    position: absolute;
    top: 471vh;
}

/* noscript */

noscript div {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: linear-gradient( rgba(0,0,0,0.9), rgba(0,0,0,0.9));
}

noscript div p {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    background-color: black;

    
}

/* headings */

h2 {
    font-family: 'OPTIAgency-Gothic';
    letter-spacing: 10px;
    text-shadow: 3px 5px 5px rgb(0, 68, 255);
    font-size: 200%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
}

h2::after{
    display: block;
    height: 2px;
    background-color: rgb(199,199,199);
    content: '';
    width: 100px;
    margin: 20px auto 0 auto;    
}

/* nav elements */

#menuBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}
#sideNav {
    will-change: width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    background-image: radial-gradient(rgb(3, 0, 151), rgb(1, 0, 36));
    overflow-x: hidden;
    overflow-y: scroll;
    transition: .2s;
    z-index: 2;
}

nav button {
    background-color: transparent;
    position: relative;
    left: 210px;
    cursor: pointer;
}

nav button ion-icon {
    font-size: 30px;
    color: white;   
}

#main {
    transition: .5s;
    position: relative;    
}

nav ul {
    text-align: right;
    padding: 25px 25px 0 10px;
}
nav ul li {
    list-style: none;
    padding-bottom: 20px;
    transition: .2s;
    white-space: nowrap;

}

nav ul li:hover {
    transform: translateX(-10px);
}
.navLink:hover, 
.navLinkInt:hover {
    color: white;
}



.navLink, 
.navLinkInt {
    font-family: 'OPTIAgency-Gothic';
    text-decoration: none;
    font-size: 110%;
    color: rgb(199, 199, 199);
    transition: .2s;
    letter-spacing: 4px;
}

.navLinkInt {
    font-size: 90%;
}

#nestedNav {
    padding: 0;
    background-color: rgb(1, 0, 73);
    width: 250px;
    margin: -15px 0px 20px -10px;
    box-shadow: 5px 5px 5px inset rgb(1, 0, 51), -5px -5px 5px inset rgb(1, 0, 49);
    height: 0px;
    overflow: hidden;
    transition: height 0.2s;
}

#nestedNav ul {
    padding-top: 30px;
}

#nestedNav li {
    line-height: 100%;
    padding-bottom: 10px;
}

#bottomDiv {
    position: absolute;
    bottom: 80px;
    right: 20px;
    text-align: right;
    white-space: nowrap;
}

#bottomDiv p a {
    font-size: 120%;
    margin-left: 20px;
}





/* Scrollbar  */

#scrollbar {
    height: 75vh;
    width: 45px;
    position: fixed;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    overflow: visible;
    z-index: 1000;
    opacity: .8;

}

#scrolltrack {
    height: 75vh;
    width: 4px;
    border: solid 2px rgb(122, 122, 122);
    background-color: #010058;
    position: relative;
    left: 15px;
    overflow: visible;
    position: relative;
    
    
}

#scrollthumb {
    position: absolute;
    left: -15px;
    width: 35px;
    height: 75px;
    overflow: visible;
    z-index: 1000;
    padding: -3px;
    box-shadow: -1px 3px 15px 4px rgb(62, 70, 177);
}
#scrollthumb img {
    width: 40px;
    height: auto;
    position: relative;
    left: -3px;
}




/* Welcome Section  */



#welcome-section {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgba(0, 0, 0, 0.425) 80%, rgba(0,0,0,0.8)), url("img/Crowdb&w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: 'OPTIAgency-Gothic';
    letter-spacing: .6em;
    text-shadow: 3px 5px 5px rgb(0, 68, 255);
    overflow: hidden;
}
#welcome-section div {
    width: 615px;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-54%);
}
#welcome-section h1 {
    font-size: 250%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation-name: h1Fade;
            animation-name: h1Fade;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes h1Fade {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes h1Fade {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#logo {
    height: auto;
    width: 80vw;
    /* min-width: 800px; */
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -65%);
    -webkit-animation-name: logoEntrance;
            animation-name: logoEntrance;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;    
    -webkit-filter: drop-shadow(5px 8px 0px rgb(5, 2, 167));    
            filter: drop-shadow(5px 8px 0px rgb(5, 2, 167));
}

@-webkit-keyframes logoEntrance {
    0% { 
        transform:  translate(-53%, -65%) scale(0);
        -webkit-filter: blur(50px);
                filter: blur(50px);
    }
    75% {
        transform:  translate(-53%, -65%) scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }

    100% {
        transform: scale(1) translate(-53%, -65%);
        -webkit-filter: blur(0) drop-shadow(5px 8px 0px rgb(5, 2, 167));
                filter: blur(0) drop-shadow(5px 8px 0px rgb(5, 2, 167));
    }

}

@keyframes logoEntrance {
    0% { 
        transform:  translate(-53%, -65%) scale(0);
        -webkit-filter: blur(50px);
                filter: blur(50px);
    }
    75% {
        transform:  translate(-53%, -65%) scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }

    100% {
        transform: scale(1) translate(-53%, -65%);
        -webkit-filter: blur(0) drop-shadow(5px 8px 0px rgb(5, 2, 167));
                filter: blur(0) drop-shadow(5px 8px 0px rgb(5, 2, 167));
    }

}


/*--------------------------------------------------------------------*/


#container {
    /* will-change: opacity; */
    height: 600vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0)85%, rgba(0,0,0,1));
    position: relative;
    opacity: 0;
}



#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: radial-gradient(rgba(0,0,0,.85), rgba(0,0,0,1));
    overflow: hidden;
}



#sticky section {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 100px);

}

/* who we are */

#section2 { 
    text-align: justify;
    

}

#section2 p {
    width: 50%;
    margin-top: -20px;
    background-color: rgba(0,0,0,0.5);
 
}

#section2-row {
    display: flex;
    justify-content: space-between;
    min-height: 405px;
    height: calc(100vh - 300px);
    max-height: 820px;
    align-items: center;

   
   
}

#curator-feed-default-feed-layout {
    width: 38%;
    font-size: 80%;
    height: 600px;
    overflow: hidden;
}

.crt-logo, .crt-tag {
    color: rgb(199,199,199) !important;
    text-decoration: none;
}

/* philosophy */

#philosophy div {
    display: flex;
    min-height: 180px;
    max-height: 760px;
    height: 50vh;
    align-items: center;
}

#philosophy p {
    max-width: 685px;
    letter-spacing: 2px;
    text-align: justify;
    
}

/* services */




.servicesRow{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto; 
    position: relative;
    top: -30px;
    
}

.services-figure {
    position: relative;
    background-color: transparent;
    border: none;
    color: rgb(199, 199, 199);
    fill: rgb(199, 199, 199); 
    opacity: 0;
    white-space: nowrap;
}

.small {
    display: none;
}


[name="hammer-outline"] {
    font-size: 58px;
    display: inline-block;
    margin-right: 5px;
    
}
.services-figure svg {
    display: inline-block;
    margin-right: 5px;
}

#services h3{
    font-family: 'OPTIAgency-Gothic';
    letter-spacing: 3px;
    position: relative;
    font-size: 90%;
    display: inline-block;
    text-align: center;
}

#caption1 {
    top: -7px;
}
#caption2 {
    top: -3px;
}
#caption3 {
    top: -8px;
}
#caption4 {
    top: -20px;
}

#Capa_1 {
    position: relative;
    top: -4px;
}

#fig1BG,
#fig2BG,
#fig3BG,
#fig4BG {
    height: 80px;
    position: absolute; 
    top: -10px;  
    border-top-right-radius: 8px; 
    border-top-left-radius: 8px;
    opacity: 0; 
    z-index: -1; 
}

#fig1BG {
    background-color: rgba(1, 0, 83, 0.795);
    width: 200px;
    left: -22px;
}

#fig2BG {
    background-color:rgba(34, 1, 56, 0.808);
    width: 210px;
    left: -20px;
}

#fig3BG {
    background-color:  rgba(59, 0, 0, 0.815);
    width: 270px;
    left: -13px; 
}

#fig4BG {
   background-color: hsla(113, 100%, 7%, 0.801);
   left: -19px;
   width: 260px; 
}


#about-wrapper {
    width: 100vw;
    height: calc(100vh - 225px);
    position: absolute; 
    left: 0;
    top: 221px;  
}

.coloredRow {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#audio,
#repair, 
#lighting,
#programming {
    height: 100%;
    width: calc(100% - 155px);
    transition: .2s;
    position: absolute;
    opacity: 0;
    padding-right: 105px;
    padding-left: 50px;
}


#audio p,
#lighting p,
#repair p,
#programming p {
    width: 500px;
}

#audio {
    background-image: radial-gradient(rgba(3, 1, 143, 0.8), rgba(3, 1, 63, 0.8) );
    left: 0;
}

#lighting {
    background-image: radial-gradient( rgba(85, 0, 141, 0.8), rgba(26, 0, 43, 0.808)85%);
    left: 0;
}

#repair {
    background-image: radial-gradient( rgba(110, 0, 0, 0.815),rgba(44, 0, 0, 0.815) 85%);
    right: 0;
}

#programming {
    background-image: radial-gradient(hsla(115, 100%, 23%, 0.801), hsla(114, 100%, 6%, 0.801)85%);
    right: 0;
}

.carousel-cell {
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;

}

.carousel-cell img{
    height: 100%;
}

.main-carousel {
    max-width: 450px;
    width: 100%;
    z-index: 1000;
}

#audio .main-carousel,
#repair .main-carousel {
    margin-left: 50px;
}

#lighting .main-carousel,
#programming .main-carousel {
    margin-right: 50px;
}

.flickity-page-dots .dot {
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
.flickity-page-dots .dot.is-selected {
    background: white;
  }

.flickity-button {
    background-color: transparent;
}  

.flickity-button-icon {
    fill: white;
}
/* Testimonials */


#triangleSVG {
    position: absolute;;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130px;
    -webkit-filter: drop-shadow(0 4px 2px rgb(0, 35, 110));
            filter: drop-shadow(0 4px 2px rgb(0, 35, 110));
}

#triangleSVGbottom {
    position: absolute;;
    bottom: -130px;
    left: 0;
    width: 100vw;
    height: 130px;
    z-index: 1;
    -webkit-filter: drop-shadow(0 4px 2px rgb(0, 35, 110));
            filter: drop-shadow(0 4px 2px rgb(0, 35, 110));
}

#testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('img/shutterstock_559649956.jpg');
    position: relative;
    padding-right: 105px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-bottom: 10px solid black;
    
}

#testimonials h2 {
    margin-top: 50px;
}


.reviewWrapper{
    width: 690px;
    margin: 0;
}


#testimonialsRow {
    max-width: 1380px;
    text-align: center;
    
}

.blockquote {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 168);
    display: inline-block;
    margin: 20px;
    text-align: center;
    vertical-align: top;
    /* color: white; */
    box-sizing: border-box;
    padding: 25px;
}

.blockquote cite {
    margin-right: 10px;
    opacity: 0;
}

blockquote {
    font-size: 16px;
    line-height: 25px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.39);
}


#quote1 blockquote {
    margin-top: 10px;
    margin-bottom: 30px;
}

#quote2 blockquote {
    margin-top: 10px;
    margin-bottom: 20px;
}

#quote3 blockquote {
    margin-top: 60px;
    margin-bottom: 80px;
}

#quote4 blockquote {
    margin-top:40px;
    margin-bottom: 50px;
}

#quote1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/emily.jpg);
    
}

#quote2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/ashley.jpg);
}
#quote3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/katie.jpg);
}
#quote4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/caleb.jpg);
}

#btnWrapper{
  text-align: center;
  margin: 30px auto 0 auto;
  width: 600px;
  position: relative;
  left: 0px;
}

#btnWrapper a {
    text-decoration: none;
    color: white;
    background-color: #1777f2;
    font-size: 65%;
    padding: 7px 15px;
    border-radius: 5px;
    font-family: sans-serif;
    position: relative;
    bottom: 1px;
    margin-left: 40px;
    display: inline-block;
}



/* Contact US  */

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 1) ), url('img/blueaudio.jpg');
    /* background-attachment: ; */
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-right: 105px;
    position: relative;
   
}

#contact h2 {
    margin-top: 50px;
    color: rgb(214, 214, 214);
}

#contactForm {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'OPTIAgency-Gothic';
    letter-spacing: 3px;
    color: rgb(224, 224, 224);
    font-size: 140%;
    line-height: 150%;
    text-shadow: 3px 3px 5px rgb(0, 68, 255);
    padding-bottom: 100px;
   
}

.form-group {
    width: 80%;
    margin: 0 auto;
}

.form-control {
    display: block;
    margin: 0 auto 10px auto;
    width: 100%;
    font-size: 50%;
    line-height: 250%;
    color: black;
    padding-left: 10px;
    background-color: rgb(199, 199, 199);
}

textarea {
    width: 100%;
    height: 200px;
    color: black;
    font-size: 50%;
    font-family: 'Titillium';
    padding-left: 10px;
    background-color: rgb(199, 199, 199);

}

#submit {
    font-size: 65%;

}


/* footer  */

footer {
    padding: 20px 50px;
    font-size: 65%;
    height: 100px;
    width: calc(100vw - 100px);
    background-color: black;
    color: rgb(153, 153, 153);
}

footer .row {
    display: flex;
    justify-content: space-between;
}

footer ion-icon {
    font-size: 200%;
    margin-left: 20px;
    transition: .2s;
}


.footerLink,
.logoLink {
    text-decoration: none;
    color: rgb(153, 153, 153);
    transition: .2s;
}

.footerLink:hover {
    color: white;
}

#logo-facebook:hover {
    color: #1777f2;
}
#logo-instagram:hover {
    color: #de3984;
}